// Code borrowed (and modified) from https://codepen.io/codypearce/pen/PdBXpj
// Dan J Blain, 01082024

.activator {
    position: relative;
    perspective: 1000px;
}

.activator.isDropped .activation_panel--animated {
    display: block;
}

.activation_panel {
    width: 100%;
    perspective: 1000px;
    & > * {
        display: none;
        opacity: 0;
    }
}

.activation_panel--animated {
    display: none;
    & > * {
        display: block;
        opacity: 1;
    }
}

.style_rotate_X {
    animation: rotatePanel 400ms ease-in-out forwards;
    transform-origin: top center;
}

@keyframes rotatePanel {
    0% {
        transform: rotateX(-90deg);
    }
    70% {
        transform: rotateX(20deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

.spacer {
    display: none;
    visibility: hidden;
    &.isDropped {
        display: absolute;
        top: 0;
    }
}