@use '../base/vars' as *;
@use '../mixins/mixins' as *;


footer {
    display: flex;
    flex-direction: column;
    background-color: $clr-gray;
    font-size: 1rem;
    text-decoration: none;
    @include spaceButton;

    ul {
        @include flat;
        list-style-type: none;
    }

    em {
        position: relative;
        top: 4px;
    }

    & > section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}


.socialMediaPanel {
    width: max-content;
    padding: 0.6em;

    button:not(:last-child) {
        margin-right: 1em;
    }
}


.copyrightTag {
    padding: 1.4em 1em;

    a {
        text-decoration: none;
    }
    
    p {
        @include flat;
    }
    
    img {
        position: relative;
        top: 2px;
        right: 4px;
        width: 18px;
    }
}


@media (min-width: $mqb-min-twocol) {

    footer {
        flex-direction: row-reverse;

        .copyrightTag {
            width: 100%;
            flex-direction: column;
            justify-content: left;
        }
    }
}