@use '../base/vars' as *;
@use '../mixins/mixins' as *;

.movieGadget {
    max-width: calc(0.75 * $mqb-max-mobile);
    display: flex;
    flex-direction: row;
    padding: 0.4em;

    .gadgetButton {
        display: flex;
        flex-direction: column;
    }
}

.posterPanel {
    @include spacePanel;
    margin-right: 0.4em;
    border: 2px solid silver;
    background-color: $clr-black;
    overflow-y: hidden;

    position: relative;
    // To allow special positioning of children

    img {
        display: block;
    }
    
    div article {
        position: absolute;
        top: 120%;
        min-height: 100%;
        padding: 0.2em 1em;
        background-color: $clr-control-darkShadow;
        color: $clr-white;

    }
    
    div.isInfoOpen article {
        top: 0;
    }
}

.infoFloat {
    display: none;
    z-index: 1;
    width: 100%;
    min-height: 100%;
    overflow-y: hidden;
    background-color: #000D;
    color: white;

    // flex
    justify-content: center;
    align-items: stretch;

    // position
    top: 0;
    left: 0;
    
    &.open {
        display: flex;
        position: absolute;
    }
}

.infoSheet {
    margin: 10% 5%;
}

.gadgetPanel {
    display: grid;
    grid-template-rows: auto;
    padding: 0.2em;
    text-align: center;
    @include spacePanel;

    strong {
        display: block;
        font-size: 1.2em;
    }

    .gadgetButton {
        margin: 0.4em;
        @include spaceButton;
    }
}

.voteIndicator {
    display: inline-block;
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    @include spaceButton;
}