@use '../base/vars' as *;
@use '../mixins/mixins' as *;

.movieGadget {
    display: flex;
    flex-direction: row;
    padding: 0.4em;
}

.posterPanel {
    @include spacePanel;
    margin-right: 0.4em;
    border: 2px solid silver;
    background-color: $clr-black;
    overflow-y: hidden;

    position: relative;
    // To allow special positioning of children

    img {
        display: block;
    }
    
    div article {
        position: absolute;
        top: 120%;
        min-height: 100%;
        padding: 0.2em 1em;
        background-color: $clr-control-darkShadow;
        color: $clr-white;

    }
    
    div.isInfoOpen article {
        top: 0;
    }
}

.detailPanel {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: min-content min-content min-content 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 0 0.2em;
    @include spacePanel;

    & > * {
        margin-bottom: 0.8em;
    }
}

.detailButton {
    margin-left: 0.2em;
    border-color: $clr-control-calmIndicate;
    padding: 0.2em 0.2em 0;
    font-family: $fontfam-body;

    &:hover {
        @include spacePanel;
    }

    & img {
        max-width: 2em;
    }
}

.infoFloat {
    display: none;
    z-index: 1;
    width: 100%;
    min-height: 100%;
    overflow-y: hidden;
    background-color: #000D;
    color: white;

    // flex
    justify-content: center;
    align-items: stretch;

    // position
    top: 0;
    left: 0;
    
    &.open {
        display: flex;
        position: absolute;
    }
}

.infoSheet {
    margin: 10% 5%;
}

.detailLabel {
    margin: 0.4em 0.2em;
    padding: 0.2em;

    @include displayPanel(2px, $clr-lightMetal, $clr-shadowMetal);
    @include neonText(#0fc);
}

.voteIndicator {
    display: inline-block;
    min-width: 50px;
    margin-left: calc(50% - 25px);
    height: 50px;
    border-radius: 50%;
    @include spaceButton;
}