.movieGadget {
    // To allow special positioning of children
    position: relative;
}

.isMovieLiked {
    border: 10px solid red;
}

.infoFloat {
    display: none;
    
    // The following styling has no effect unless &.open
    // appearance
    width: 100%;
    min-height: 100%;
    background-color: #000D;
    color: white;
    // flex
    justify-content: center;
    align-items: stretch;
    // position
    top: 0;
    left: 0;
    
    &.open {
        display: flex;
        position: absolute;
    }
}

.infoSheet {
    margin: 10% 5%;
}