@use '../base/vars' as *;

nav {
    position: absolute;
    top: -300px;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;

    &.isAnim {
        position: relative;
        top: 0;
        animation-name: slottingClosing;
    }
    
    &.isOpen {
        position: absolute;
        top: -300px;
        animation-name: slottingOpening;
    }

    & a {
        display: block;
        background-color: $clr-control-secondary;
        text-align: center;
        color: red;
    }
}


@keyframes slottingOpening {
    0%      {top: -300px;   position: relative;}
    100%    {top: 0;        position: relative;}
}

@keyframes slottingClosing {
    0%      {top: 0;        position: relative;}
    99%     {top: -300px;   position: relative;}
    100%    {top: -300px;   position: absolute;}
}