@use '../base/vars' as *;
@use '../mixins/mixins' as *;

nav {
    @include flat;
    padding: 1em;
    align-items: center;

    a {
        padding: 0 1em;
        font-family: $fontfam-headers;
        font-size: 2em;
        color: $clr-control-electricGreen;
        text-decoration: none;
    }

    a:active, a:focus {
        @include neonText($clr-control-electricGreen, 6px);
    }

    a:hover {
        text-decoration: underline;
        animation-duration: 1s;
        animation-name: cursorBlink;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }
}


@media (min-width: $mqb-min-twocol) and (max-width: $mqb-min-threecol) {

    nav {
        flex-direction: column;
        position: absolute;
        top: -300px;
    }

    a div {
        padding: 0 1em;
    }

    // Two step animation - brings it onscreen (translate)
    // and expands from 0% max-width to 100% max-width
    @media (prefers-reduced-motion: no-preference) {

        nav {
            animation-duration: 0.2s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;

            &.isAnim {
                animation-name: slottingClosing;
            }

            &.isOpen {
                animation-name: slottingOpening;
            }
        }
    }
}


@media (min-width: $mqb-min-threecol) {

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: max-content;
    }
}


@keyframes cursorBlink {
    0%      { text-decoration-color: $clr-control-electricGreen; }
    100%    { text-decoration-color: $clr-white; }
}


@keyframes slottingOpening {
    0%      { top: -300px; }
    100%    { top: 0; }
}


@keyframes slottingClosing {
    0%      { top: 0; }
    100%    { top: -300px; }
}