@use '../base/vars' as *;
@use '../mixins/mixins' as *;


nav {
    z-index: 2; // Where:
                    // normal       = z-index 0
                    // infoFloat    = z-index 1
                    // nav          = z-index 2
                    // header       = z-index 3
    padding: 1em;
    align-items: center;
    @include flat;

    a {
        padding: 0 1em;
        font-family: $fontfam-headers;
        font-size: 2em;
        color: $clr-control-electricGreen;
        text-decoration: none;
    }

    a:active, a:focus {
        @include neonText($clr-control-electricGreen, 6px);
    }

    a:hover {
        text-decoration: underline;
        animation-duration: 1s;
        animation-name: coronaPulse;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }
}


@media (min-width: $mqb-min-twocol) and (max-width: $mqb-min-threecol) {

    nav {
        flex-direction: column;
        position: absolute;
        top: -1000px;
        right: 0;

        div {
            padding: 0 1em;
        }
    }


    
    @media (prefers-reduced-motion: no-preference) {

        nav {
            animation-duration: 0.2s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in-out;

            &.isAnim {
                animation-name: slottingClosing;
            }

            &.isOpen {
                animation-name: slottingOpening;
            }
        }
    }
}


@media (min-width: $mqb-min-threecol) {

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: max-content;
    }
}


@keyframes coronaPulse {
    0%      { text-decoration-color: $clr-control-electricGreen; }
    100%    { text-decoration-color: $clr-white; }
}


@keyframes slottingOpening {
    0%      { top: -1000px; }
    100%    { top: 100%; }
}


@keyframes slottingClosing {
    0%      { top: 100%; }
    100%    { top: -1000px; }
}