@use '../base/vars' as *;
@use '../mixins/mixins' as *;

.socialMediaPanel {
    position: relative;
    // To allow special positioning of children

    .tooltip {
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid $clr-black;
        background-color: $clr-gray;
        font-family: $fontfam-body;
        
        display: none;
        opacity: 0;
        transition: opacity 0.3s 0.5s;

        &:hover {
            opacity: 1;
        }
    }
}

.socialButton {
    border-radius: 50%;
    padding: 0.4em;
    
    &.GitHub    {background-color: $clr-lightGitHub;}
    &.LinkedIn  {background-color: $clr-lightLinkedIn;}
    &.TwitterX  {background-color: $clr-lightTwitterX;}
    &.Pinterest {background-color: $clr-lightPinterest;}
    &.Portfolio {background-color: $clr-lightPortfolio;}
    
    &:hover { @include spaceButton; }
    &:hover.GitHub      {background-color: $clr-GitHub;}
    &:hover.LinkedIn    {background-color: $clr-LinkedIn;}
    &:hover.TwitterX    {background-color: $clr-TwitterX;}
    &:hover.Pinterest   {background-color: $clr-Pinterest;}
    &:hover.Portfolio   {background-color: $clr-Portfolio;}
}