/**

TO USE: simply add class 'DanLogoInText'

Should likely be used on a text element
*/
.DanLogoInText::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 5px;
    background: url('images\\DanLogo-x256.png') no-repeat center center;
    background-size: 100% 100%;
}

