@use '../base/vars' as *;
@use '../mixins/mixins' as *;

.filterPanel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    list-style: none;
    margin: 0.4em 0 0 0;
    padding: 0 0.2em;

    & li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0.4em;
        border-radius: 10px;
        text-align: center;
    }

    & div {
        margin: 8px auto 16px;
        width: 20px;
        height: 20px;
        border: 2px solid $clr-black;
        border-radius: 50%;
        @include spaceButton;
    }
}

li.react-tabs__tab--selected div {
    background-color: $clr-red;
    box-shadow: 0 0 8px 2px rgb(255, 0, 0, 0.4), 0 0 12px 4px rgb(255, 0, 0, 0.2);
}