@use '../base/vars' as *;
@use '../mixins/mixins' as *;


.supportPage {
    display: flex;
    flex-direction: column;
}


.filterPanel a {
    padding: 0.8em;
    border: 1px solid $clr-control-calmIndicate;
    border-radius: 8px;
    font-size: 1.2em;
    line-height: 1.2em;

    &:hover {
        background-color: $clr-gray;
        @include spaceButton;
    }
}

@media (min-width: $mqb-min-twocol) {
    .filterPanel a {
        font-size: 1.6em;
    }
}


.supportPanel {
    margin: 0 1em 1em;
    padding: 0.4em 1em;
    @include spacePanel;
}


.dropdownButton {
    margin: 0 0.4em;
    padding: 0.4em;
    background-color: $clr-control-lightIndicate;

    &:hover {
        color: $clr-white;
    }
}


h4.dropdownButton {
    border-top-left-radius: 8px;
    border-top-right-radius: 40px;
    @include spacePanel;
}


h3.dropdownButton {
    margin: 1em 0 0.4em;
}

#content img {
    max-width: $mqb-max-paragraph;
}

#contactUs {

    form {
        margin: 0 0.8em 0.8em;
    }


    label {
        display: block;
        margin: 0.8em 0;
        padding: 0.4em;
        @include spacePanel;

        &:last-of-type {
            margin-bottom: 0.8em;
        }
    }

    input, textarea {
        width: 100%;
        margin-top: 0.4em;
        font-family: $fontfam-body;

        :disabled {
            background-color: $clr-control-calmIndicate;
        }
    }

    textarea {
        padding: 0.2em;
    }

    button {
        float: right;
        border: 3px solid transparent;
        border-radius: 8px;
        margin-bottom: 0.8em;
        padding: 0.4em;
        @include spaceButton;

        &:nth-of-type(n+2) {
            background-color: $clr-control-warnIndicate;
            margin-right: 0.4em;
        }

        &:hover {
            border-color: $clr-black;
        }
        
        &:active {
            @include spaceButton;
        }
    }
}


@media (min-width: $mqb-min-twocol) {

    .supportTabs {
        margin: 0 auto;
        max-width: $mqb-max-paragraph;
    }
}


@media (min-width: $mqb-min-threecol) {

    .supportPage {
        flex-direction: row;
        justify-content: center;

        & > * {
            margin: 2em;
            width: 45%;
        }
    }

    .supportTabs, #contactUs {
        max-width: $mqb-min-threecol;
    }
}