@use './vars' as *;
@use '../mixins/mixins' as *;

h1, h2, h3, h4, h5, h6, button, label, code {
    @include capitalize;
    font-family: $fontfam-headers;
    letter-spacing: -0.06em;
}

h1 {
    @include bandedText;
    @include uppercase;
    font-size: 0.8rem;
}

button, label, code {
    font-size: 1.1rem;
    word-spacing: 0.6rem;
}

button, label {
    @include uppercase;
    background: $clr-control-primary;
}