// Colors for testing too-subtle things
$clr-white: white;
$clr-red: red;
$clr-black: black;

// UI colors
$clr-control-primary: #304FFE;
$clr-control-hover: #29E6A7;
$clr-control-secondaryk: #039D69;

// UI measures
$radius: 0.2rem;

// Font strings
$fontfam-headers: 'Bruno Ace', sans-serif;
$fontfam-body: 'Miriam Libre', Georgia, 'Times New Roman', Times, serif;