// Colors for testing too-subtle things
$clr-white: white;
$clr-red: red;
$clr-black: black;
$clr-gray: lightgray;
$hover-gray: #A0A0A0;

// UI colors
$clr-control-primary: #304FFE;
$clr-control-hover: #29E6A7;
$clr-control-secondary: #039D69;
$clr-control-hotGlow: #FF00FF; // magenta

// Social Media colors
$clr-GitHub:    rgb(64, 120, 192);
$clr-LinkedIn:  rgb(7, 98, 200);
$clr-TwitterX:  rgb(29 161 242);
$clr-Pinterest: rgb(230, 0, 35);
$clr-Portfolio: rgb(0, 152, 0);
$clr-lightGitHub:       rgba(64, 120, 192, 0.2);
$clr-lightLinkedIn:     rgba(7, 98, 200, 0.2);
$clr-lightTwitterX:     rgba(29, 161, 242, 0.2);
$clr-lightPinterest:    rgba(230, 0, 35, 0.2);
$clr-lightPortfolio:    rgba(0, 152, 0, 0.2);

// UI measures
$radius: 0.2rem;

// UI timings
$ui-delay: 0.01s;

// Font strings
$fontfam-headers: 'Bruno Ace', sans-serif;
$fontfam-body: 'Miriam Libre', Georgia, 'Times New Roman', Times, serif;