// Media query breakpoints // UNTESTED ON ALL PAGES EXCEPT PAGEHOME
$mqb-max-mobile:            560px;
$mqb-min-twocol:            670px;
$mqb-min-threecol:          940px;
$mqb-min-fourcol:           1200px; // untested on PageHome
$mqb-min-fivecol:           1400px; // untested on PageHome
$mqb-max:                   1920px;

// Basic useful colors
$clr-white: white;
$clr-red: red;
$clr-black: black;
$clr-gray: lightgray;

// UI light & shadow
$clr-control-darkShadow:    #000000DB;
$clr-lightMetal:            #d9eaff;
$clr-shadowMetal:           #9ba7b6;

// UI colors
$clr-control-primary:       #304FFE;
$clr-control-secondary:     #039D69;
$clr-control-hover:         #29E6A7;
$clr-control-calmIndicate:  #646CFF;
$clr-control-warnIndicate:  #FFCACA;
$clr-control-lightIndicate: #B3B7FF;
$clr-control-hotGlow:       #FF00FF;
$clr-control-electricGreen: #64FF00;

// Social Media colors
$clr-GitHub:            rgb(64, 120, 192);
$clr-lightGitHub:       rgba(64, 120, 192, 0.2);
$clr-LinkedIn:          rgb(7, 98, 200);
$clr-lightLinkedIn:     rgba(7, 98, 200, 0.2);
$clr-TwitterX:          rgb(29 161 242);
$clr-lightTwitterX:     rgba(29, 161, 242, 0.2);
$clr-Pinterest:         rgb(230, 0, 35);
$clr-lightPinterest:    rgba(230, 0, 35, 0.2);
$clr-Portfolio:         rgb(0, 152, 0);
$clr-lightPortfolio:    rgba(0, 152, 0, 0.2);

// Font strings
$fontfam-headers: 'Bruno Ace', sans-serif;
$fontfam-body: 'Miriam Libre', Georgia, 'Times New Roman', Times, serif;
$fontfam-code: 'Inconsolata', 'Courier New', Courier, monospace;