#root {
    /* max-width: 1280px; */
    max-width: 320px; /* TEMPORARY FOR TESTING / DEV: Simulate mobile display, left justified */
    margin: 0 auto 0 0; /* TEMPORARY FOR TESTING / DEV: Simulate mobile display, left justified */
    
    min-height: 100dvh;
}
  
@media (prefers-reduced-motion: no-preference) {
}